In [1]:
from binance_api import BinanceAPI

In [2]:
api = BinanceAPI(
    verbose=True,
    pair="BTCUSDT",
    difficulty="MEDIUM",
    use_fee=True,
    fee_maker=0.0002,
    fee_taker=0.0004,
    system="NETTING"
)

In [3]:
start = ["2023-10-01", "2023-08-01", "2023-12-10", "2023-11-01", "2024-02-03 23:47:00", "2019-09-02"]
end = ["2023-11-19", "2023-09-01", "2024-01-10", "2024-01-30", "2024-02-04 05:01:00", "2022-12-31"]
num = 5
data = api.load_data(
    interval_of_candles="1h",
    start_date_utc=start[num],
    end_date_utc=end[num],
)
data

Trying to load info from directory...
Trying to download info from API...
Data loaded.

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume
Date,,,,,,,,,
2019-09-08 17:00:00,10000.00,10000.00,10000.00,10000.00,0.002,2.000000e+01,2,0.001,1.000000e+01
2019-09-08 18:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000e+00,0,0.000,0.000000e+00
2019-09-08 19:00:00,10344.77,10357.53,10337.43,10340.12,471.659,4.879792e+06,562,0.000,0.000000e+00
2019-09-08 20:00:00,10340.12,10368.64,10334.54,10351.42,583.271,6.037733e+06,731,0.034,3.519712e+02
2019-09-08 21:00:00,10351.42,10391.90,10324.77,10391.90,689.759,7.136799e+06,827,0.004,4.138500e+01
...,...,...,...,...,...,...,...,...,...
2022-12-30 20:00:00,16520.80,16565.40,16520.50,16564.60,5367.189,8.877994e+07,29186,3048.258,5.042014e+07
2022-12-30 21:00:00,16564.60,16666.60,16564.30,16578.90,19159.923,3.181876e+08,84130,10360.822,1.720808e+08
2022-12-30 22:00:00,16579.00,16591.80,16572.90,16580.00,4202.952,6.969640e+07,24869,2227.663,3.694131e+07
2022-12-30 23:00:00,16580.10,16616.20,16567.20,16601.20,6051.823,1.004349e+08,31965,2906.260,4.823185e+07
2022-12-31 00:00:00,16601.20,16611.50,16574.00,16574.00,4212.281,6.988052e+07,25365,1921.655,3.188097e+07

In [4]:
api.test_strategy(
    interval_of_candles="2h",
    start_date_utc=start[num],
    end_date_utc=end[num],
    initial_quote=100,
    initial_leverage=1
)

Trying to load info from directory...
Data loaded.
---------------------------------------------------------------------------
Testing strategy | BTCUSDT
---------------------------------------------------------------------------
---------------------------------------------------------------------------
+++ CLOSING FINAL POSITION +++
net performance (%) = 0.0
number of positions opened = 0
number of liquidated orders = 0
number of good orders = 0 (0%)
number of bad orders = 0 (0%)
Amount spent on fee = 0 (0.0% of initial balance)
---------------------------------------------------------------------------

100

In [ ]:
api.plot_data(show_pos=True)

In [14]:
api.init_order_manager()
api.wallet.balance = 100
api.go_long(
    bar=1,
    quote=100,
    wallet_prc=True,
    go_neutral_first=True,
    order_type="LIMIT",
    expected_exec_quote=29500
)

2021-01-01 02:00:00 | Buying 88.5 quote for 29500, leverage 1

In [11]:
api.data[:1]

,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,Taker Buy Base Asset Volume,Taker Buy Quote Asset Volume
Date,,,,,,,,,
2021-01-01,28948.19,29546.42,28706.0,29448.4,299107.138,8.709701e+09,13169,166595.865,4.851186e+09

In [7]:
api.go_neutral(2)